h1{
    color: blueviolet;
        background-color: #1A1919;
        text-decoration: underline;

}

.explicacion1{
    main{
        background-color: black;
    
    
    p{
        font-size: larger;
        color: $blancor;
        margin-top: 30px;
    }
    
    }
    
    
    h2{
        color: $blancor;
        background-color: grey;
        text-decoration: underline;
    }
}

.explicacion2{
    main{
        background-color: black;
    
    
    p{
        font-size: larger;
        color: $blancor;
        margin-top: 30px;
    }
    
    }
    
    
    h2{
        color: $blancor;
        background-color: grey;
        text-decoration: underline;
    }


}


.explicacion3{
    main{
        background-color: black;
    p{
        font-size: larger;
        color: $blancor;
        margin-top: 30px;
    }
    
    }
    
    
    h2{
        color: $blancor;
        background-color: grey;
        text-decoration: underline;
    }
}


.explicacion4{
    main{
        background-color: black;
    
    
    p{
        font-size: larger;
        color: $blancor;
        margin-top: 30px;
    }
    
    }
    
    
    h2{
        color: $blancor;
        background-color: grey;
        text-decoration: underline;
    }
}

.explicacion5{
    main{
        background-color: black;
    
    
    p{
        font-size: larger;
        color: $blancor;
        margin-top: 30px;
    }
    
    }
    
    
    h2{
        color: $blancor;
        background-color: grey;
        text-decoration: underline;
    }
}

.explicacion6{
    main{
        background-color: black;
    
    
    p{
        font-size: larger;
        color: $blancor;
        margin-top: 30px;
    }
    
    }
    
    
    h2{
        color: $blancor;
        background-color: grey;
        text-decoration: underline;
    }

}

.explicacion7{
    main{
        background-color: black;
    
    
    p{
        font-size: larger;
        color: $blancor;
        margin-top: 30px;
    }
    
    }
    
    
    h2{
        color: $blancor;
        background-color: grey;
        text-decoration: underline;
    }
}